# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.sqlite3
db.sqlite3
*.log

# Env
.env
*.env
env/
venv/
music_env/
env.bak/
.envrc

# Media/Uploads/Models
/media/
audio/models/trained_model.h5
audio/models/label_encoder.pkl

# IDE/project configs
.vscode/
.idea/
*.swp
.DS_Store

# System files
Thumbs.db
ehthumbs.db
